<h1>Editando Color</h1>

<%= render 'form', color: @color %>

<div class="btn btn-primary"><%= link_to 'Ver', color_path(@color.id) %></div>
<div class="btn btn-light"><%= link_to 'Volver', colors_path %></div>
