// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item{
	background-color: #e3e1e1;
  border-radius: 15px;
  margin: 10px -11px;
  padding: 10px;
}
.title{
  border-radius: 15px;
  margin: 10px -11px;
}